.container {
    padding: 30px;
}

.textocard{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 5px;
}

.tagtext{
    text-size-adjust: auto;
    font-size: 0.7vw;
}

.shadowcard {
    box-shadow: 0px 4px 12px rgba(130, 130, 130, 0.5);
}