.cajablanca{
    background-color: #F6EBF9;
    height: 1000px;
    width: 100%;
    
}

.tipografia {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.025em;
    color: #000000;
  }


.list-item {
    list-style-type: none;
}

.selected {
    background-color: #fff;
    cursor: pointer;
    transition: all ease-in-out .3s;
    color: #EB5401;
}

.selectedicon{
    filter: invert(36%) sepia(40%) saturate(2983%) hue-rotate(3deg) brightness(97%) contrast(102%);
}

ul {
    margin: 10px;
    padding: 5px;
}

li {
    margin: 20px 5px;
}

/* .list-item {
    cursor: pointer;
    transition: all ease-in-out .3s;
} */

.list-item:hover{
    color: #EB5401;
    background-color: #fff;
    border-color: #fff;

}
