.cajablanca{
    background-color: #F6EBF9;
    height: 1000px;
    width: 100%;
    
}

.tipografia {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.025em;
    color: #000000;
  }


.list-item {
    list-style-type: none;
}

.selected {
    background-color: burlywood;
}